.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 6rem 2rem 2rem 2rem;
  gap: 2rem;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.doctorImg {
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctorImg img {
  width: 100%;
  border-radius: 20px;
}

.categories {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.popular,
.alternative {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  gap: 0.8rem;
}

.popular h3,
.alternative h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.popularCards,
.alternativeCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.popularCard,
.alternativeCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.popularCard img {
  width: 200px;
  border-radius: 10px;
}

.alternativeCard img {
  width: 100px;
  border-radius: 10px;
}

.popularCard img:hover,
.alternativeCard img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

