.container {
  /* font-family: Arial, sans-serif; */
}

.main {
  display: flex;
  padding: 20px;
}

.cardiologist {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.neurologist {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.pediatrician {
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.doctorImg img {
  max-width: 100%;
  border-radius: 10px;
}

.categories {
  padding: 20px;
}

.categories h2 {
  margin-top: 0;
}

.categoryCards,
.alternativeCards {
  display: flex;
  gap: 20px;
}

.categoryCard,
.alternativeCard {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.categoryCard img {
  max-width: 100%;
  border-radius: 10px;
}

.alternativeCard {
  flex: 1;
}
