.manage-profile {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-details {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .profile-details p {
    margin: 10px 0;
  }
  
  .edit-form label {
    display: block;
    margin: 10px 0;
  }
  
  .edit-form input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  