.addDoctorForm {
    
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.formGroup {

   width: 80%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}
.Form{
    padding-left: 10rem;
    justify-items: center;
    width: 100%;
    background-color: #f9f9f9;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ccc;
}




.Cancel {
    background-color: #ea4335;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}


.Save {
    
    background-color: #09d806;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;

}

.buttonContainer{
    gap: 1rem;
    display: flex;
    justify-content: center;
}

.h2tag{
    display: flex;
    justify-content: center;
    font-size: large;
}