/* ./pages/Dashboard/Center/Appointments.css */

.appointments {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .cards-container {
    display: grid;
    grid-template-areas:
      "ongoing calendar-top"
      "upcoming calendar-bottom";
    grid-gap: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .ongoing-appointment {
    grid-area: ongoing;
  }
  
  .upcoming-appointments {
    grid-area: upcoming;
  }
  
  .calendar-top {
    grid-area: calendar-top;
  }
  
  .calendar-bottom {
    grid-area: calendar-bottom;
  }
  