.sidebar {
  color: #c3c2ed;
  position:absolute;
  top: 65px;
  left: -214px; /* Sidebar initially hidden */
  width: 250px; /* Adjusted width */
  height: 100%;
  background-color: #bbc8ebaf;
  padding: 20px;
  transition: left 0.3s ease; /* Smooth transition for opening/closing */
}

.sidebar.open {
  left: -20px; /* Sidebar visible when open */
}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
  left: 1px;
  color: #cac9e3;
}

.sidebar ul li {
  width: 195px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #a0cbf6;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #090673;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #9fc5f6;
  color: #e7edf3; /* Change color on hover */
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #04022c;
  background-color: transparent;
  
}

