.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mainContent {
  padding: 20px;
}

.searchSection {
  display: flex;
  background-color: #fff;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.searchInput {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  box-shadow: 0 2px 4px rgb(255, 254, 254);
}

.searchButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

/* Add space between search section and content */
.space {
  height: 20px; /* Adjust as needed */
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.doctorImage img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categorySection {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.categorySection h2 {
  margin-top: 0;
  color: #007bff;
}

.categorySection p {
  color: #333;
  margin-bottom: 20px;
}

.categorySection ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  list-style-type: none;
}

.categorySection li {
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
}

.categorySection li:hover {
  background-color: #e2e2e2;
}
